/* Start Small Devices */
@media only screen and (max-width: 767px) {
    .py-32 {
        /* py-sm-5 is not working for me */
        padding: 32px 0px;
    }
    .w-50 {
        width: 100% !important;
    }
    .header-register {
        display: none !important;
    }
    .banner-description {
        width: 80% !important;
    }
    .banner-description h1 {
        /* fs-sm-2 is not working for me */
        font-size: 20px !important;
    }
    .popular-course-description h3 {
        /* fs-sm-2 is not working for me */
        font-size: 1rem;
    }
    .join-us-details p.px-sm-3 {
        padding: 0px 12px;
    }
    .explore-elearning-course-statistic {
        /* flex-sm-wrap d-sm-flex is not working for me */
        display: flex;
        flex-wrap: wrap;
    }
    .course-statistic {
        margin-right: 10px;
    }
    .explore-btn {
        padding-bottom: 25px;
    }
    .brand {
        /* d-sm-none is not working for me */
        display: none;
    }
    .join-us-area {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        padding: 29px 0px;
    }
    .join-us-register {
        text-align: center; /* text-sm-center is not working for me */
    }
    .successful-student-area .section-title {
        text-align: center; /* text-sm-center is not working for me */
        margin-bottom: 20px; /* mb-sm-4 is not working for me */
    }
    .succesful-student-view-all-btn {
        margin-top: 15px;
    }
    .students-feedback {
        padding: 20px;
        margin-bottom: 20px;
    }
    .student-feedbeck-area .carousel-control-prev {
        display: none; /* d-sm-none is not working for me */
    }
    .student-feedbeck-area .carousel-control-next {
        display: none; /* d-sm-none is not working for me */
    }
    .faq-wrapper {
        width: 100% !important;
    }
    .footer-description {
        width: 100% !important;
    }
}
/* End Small Devices */

/* Start Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .py-60 {
        padding: 60px 0px;
    }
    .w-81 {
        width: 81% !important;
    }
    .faq-wrapper {
        width: 100% !important;
    }
    .header-register {
        position: absolute;
        right: 10%;
        top: 17px;
    }
}
/* End Medium Devices */

/* Start Large Devices */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .popular-course-thumbnail img {
        min-height: 240px;
    }
}
/* End Large Devices */
