/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
.py-130 {
    padding: 130px 0px;
}
.px-100 {
    padding: 0 100px;
}
.bg-primary {
    background-color: #289bde !important;
}
/* End Custome Style */

/* Start Banner Style */
.banner-bg {
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg::before {
    content: "";
    position: absolute;
    background-color: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.item-bg1 {
    background-image: url("../images/working.png");
}
/* End Banner Style */

/* Start Popular Course */
.popular-course-thumbnail img {
    min-height: 200px;
    min-width: 200px;
}
/* End  */
/* Start Explore-Elearning Style */
.explore-bg {
    background: #f4fafd;
}
/* End Explore-Elearning Style */

/* Start Join Us Style */
.h-300 {
    height: 300px;
}
.w-530 {
    width: 530px;
}
/* End Join Us Style */

/* FAQ Style */
.accordion-button:not(.collapsed) {
    color: #4a4a4a;
    background-color: rgba(40, 155, 222, 0.1);
}
.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
/* End FAQ Style */
