/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
.py-130 {
    padding: 130px 0px;
}
.mb-24 {
    margin-bottom: 24px;
}
.px-100 {
    padding: 0 100px;
}
.bg-primary{
    background-color: #289BDE !important;
}
/* End Custome Style */

/* Start NavBar Style */

.py-64 {
    padding: 64px 0px;
}

/* End NavBar Style */

/* Start Banner Style */
.banner-bg {
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg::before {
    content: "";
    position: absolute;
    background-color: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.item-bg1 {
    background-image: url("../images/working.png");
}
/* End Banner Style */

/* Start Popular Course */
.popular-course-thumbnail img{
    height: 200px;
    min-width: 200px;
}
/* End  */
/* Start Explore-Elearning Style */

.explore-elearning-thumbnail img {
    height: 806px;
}
.explore-bg {
    background: #f4fafd;
}

/* End Explore-Elearning Style */

/* Start Join Us Style */
.h-300 {
    height: 300px;
}
.w-530 {
    width: 530px;
}
/* End Join Us Style */

/* FAQ Style */
.accordion-button:not(.collapsed) {
    color: #4a4a4a;
    background-color: rgba(40, 155, 222, 0.1);
}
.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
/* End FAQ Style */

/* Responsive Design */
/* Start Small Devices */
@media only screen and (max-width: 767px) {
    .py-32{
        padding: 32px 0px; 
    }
    .w-50{
        width: 100% !important;
    }
    .header-register {
        display: none !important;
    }
    .banner-description{
        width: 80% !important;
    }
    .banner-description h1{
        font-size: 20px !important;
    }
    .popular-course-description h3{
        font-size: 1rem;
    }
    .explore-elearning-course-statistic{
        display: flex;
        flex-wrap: wrap;
    }
    .course-statistic{
        margin-right: 10px;
    }
    .explore-btn{
        padding-bottom: 25px;
    }
    .brand{
        display: none;
    }
    .join-us-area{
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        padding: 29px 0px;
    }
    .join-us-register{
        text-align: center;
    }
    .successful-student-area .section-title{
        text-align: center;
        margin-bottom: 20px;
    }
    .succesful-student-view-all-btn{
        margin-top: 15px;
    }
    .students-feedback{
        padding: 20px;
        margin-bottom: 20px;
    }
    .student-feedbeck-area .carousel-control-prev {
        left: 12px;
        top: -18px;
    }
    .student-feedbeck-area .carousel-control-next {
        right: -18px;
        top: -21px;
    }
    .faq-wrapper {
        width: 100% !important;
    }
    .footer-description{
        width: 100% !important;
    }
}
/* End Small Devices */

/* Start Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .py-60 {
        padding: 60px 0px;
    }
    .w-81 {
        width: 81% !important;
    }
    .top-48 {
        top: 48.5% !important;
    }
    .header-register {
        position: absolute;
        right: 10%;
        top: 17px;
    }

}
/* End Medium Devices */


